body {
  background-color: #DFC6ED;
}
h1 {
  background-color: pink;
  font-size: 75px;
  color: #3782BA;
  font-family: arial;
  border-radius: 25px;
}
p {
  font-size: 20px;
}
.button {
  background-color: #3782BA;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
