body {
  background-color: #DFC6ED;
}
h1 {
  background-color: pink;
  font-size: 75px;
  color: #3782BA;
  font-family: arial;
  border-radius: 25px;
}
h2 {
  font-size: 40px;
  color: #6EC1C7;
}
p {
  font-size: 20px;
}
img {
    width:540px;
    height: auto;
    border: 50px groove #3782BA;
}
ul {
  font-size: 20px;
}
a{
  font-size: 20px;
  color: blue;
}
.button {
  background-color: #3782BA;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.tvimg {
  width: 275px;
  height: auto;
}
