<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sophia's Family</title>
    <link rel="stylesheet" href="/static/css/family.css">
  </head>
  <body>
    <a class=button href="http://localhost:8080/">Back to Home</a>
    <a class=button id=blog href="http://localhost:8080/blog">Blog</a>
    <h1>My Family</h1>
    <p>If you were wondering about my family, you're in the right place.  My parents are Andy and Jackie and my younger sister is Rachel.  And don't forget Gracie!</p>
    <img src="https://scontent-sin6-2.cdninstagram.com/vp/ff3896e488514ebc37f461a9cc85013f/5DAA35B6/t51.2885-15/e35/s480x480/65776985_145561466520659_1254641894364852074_n.jpg?_nc_ht=scontent-sin6-2.cdninstagram.com" alt="Gracie">
    <script src="/static/js/family.js"></script>
  </body>
</html>
